<table>
    <thead>
        <tr>
            <th class="country_name-cell">{{country|safe}}</th>
            <th class="code-cell">Code</th>
            <th class="pop96-cell">
                1996 pop.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="country_name-cell">Albania</td>
            <td class="code-cell">ALB</td>
            <td class="pop96-cell">
                3,341,043
            </td>
        </tr>
    </tbody>
</table>