<div class="grid-wrapper">

  <div class="top-left">test</div>
  <div class="top-left-center">test</div>
  <div class="top-right-center">test</div>
  <div class="top-right">test</div>

  <div class="mid-left">
   <div class="card"></div>
      <div class="info-chart-1"></div>
      <div class="info-chart-2"></div>
  </div>
  <div class="mid-right">
  <canvas  id="myChart"></canvas>
  </div>
<div class="mid-lower">
  <div class="mid-lower-left">test</div>
  <div class="mid-lower-center">test</div>
  <div class="mid-lower-right">test hallo</div>
 </div>
  <div class="bottom-left">test</div>
  <div class="bottom-left-center">test</div>
  <div class="bottom-right">test</div>


</div>
